/*******************************ABOUT PAGE*******************************/
/*jumbotron*/
.jumbotron{
    height:90vh;
    background-position-x: 10vw;
    background-image: url(images/background.jpg); 
    background-size:cover;
}

.jumbotron .container{
    margin-left:5vw;
    margin-top:25vh;
}

/* Experience section */
.show-on-scroll ~ p span{
    padding-right: 2px;
    padding-left: 2px; 
    padding-top: 2px;  
    background-color: #F987C5;
    color: white;  
}

p{
    font-size: 18px; 
}

ul{
    list-style-type: "⭐️  ";
}

.experience{
    margin-right: 20vw; 
    margin-left: 20vw; 
}

.experience p{
    border-top: dashed black 2px; 
    margin: 0; 
    padding: 30px; 
    counter-increment: section; 
    position: relative;
}

.experience p:nth-child(even):before {
    content: counter(section);
    position: absolute;
    right: 100%; 
    margin-right: -20px;
    /*circle*/
    border-radius: 50%;
    padding: 10px;
    height: 20px;
    width: 20px;
    /*counter #*/
    background-color: #F987C5;
    text-align:center;
    color: white;
}
  
.experience p:nth-child(odd):before {
    content: counter(section);
    left: 100%; 
    margin-left: -20px;
    position: absolute;
    /*circle*/
    border-radius: 50%;
    padding: 10px;
    height: 20px;
    width: 20px;
    /*counter #*/
    background-color: #F987C5;
    text-align:center;
    color: white;
}

.experience :nth-child(even) {
    border-left: 2px dashed;
    margin-right: 30px; 
    padding-right: 0;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

.experience p:nth-child(odd) {
    border-right: 2px dashed;
    margin-left: 30px; 
    padding-left: 0;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}

.experience p:first-child{
    border-top: 0;
    border-top-right-radius:0;
}

.experience p:last-child{
    border-bottom-right-radius:0;
    border-bottom-left-radius:0;
}

.experience p span{
    font-weight: bold;
}

.show-on-scroll{
    opacity: 0; 
    transition: opacity 400ms ease-in; 
}

.elem-fade-in{
    opacity: 1; 
}

/*Scrolling animation*/
.scroll-down {
    background-color: black;
    height: 5vh;
    width: 1.5vw;
    border: 2px solid black;
    position: absolute;
    left: 6%;
    bottom: 43vh;
    border-radius: 50px;
    cursor: pointer;
  }

  .scroll-down::before,
  .scroll-down::after {
    content: "";
    position: absolute;
    top: 20%;
    left: 50%;
    height: 10px;
    width: 10px;
    transform: translate(-50%, -100%) rotate(45deg);
    border: 2px solid white;
    border-top: transparent;
    border-left: transparent;
    animation: scroll-down 1s ease-in-out infinite;
  }
  .scroll-down::before {
    top: 30%;
    animation-delay: 0.3s;
  }

  .scroll-down button{
    opacity: 0;
    height: 50px;
    border-radius: 50px;
    width: 30px;
  }
  
  @keyframes scroll-down {
    0% {
      /* top:20%; */
      opacity: 0;
    }
    30% {
      opacity: 1;
    }
    60% {
      opacity: 1;
    }
    100% {
      top: 90%;
      opacity: 0;
    }
  }

/**********UPDATE ABOVE8***********/

/*first grid*/
.about-grid-container{
    display: inline-grid; 
    width: 75vw; 
    grid-template-columns: 2fr 3fr; 
    grid-template-rows: repeat(2, 14vh);
    column-gap: 5vw;
    row-gap: 20vh; 
}

.a-grid-item{
    margin: auto;
    font-size: 18px; 
}

/* Education grid */ 
.recent-education{
    margin-top: 40vh; 
    margin-right:20vw; 
    margin-left: 20vw; 
}

.ed-grid{
    display: inline-grid; 
    grid-template-columns: 1fr 5fr; 
    column-gap: 2vw;
    margin-top: 50px; 
}

.ed-grid p{
    margin-top: 3vh; 
}

.ed-grid img{
    height: 10vh; 
    width: 5vw; 
}

.recent-education a{
    display: block; 
    color:black;
    padding: 15px; 
    background-color: ghostwhite;
}


/*images*/
#a-img{
    margin: auto; 
    margin-top: 10vh;
    display: block;
    width:20vw;
    height:auto;
    border-radius: 50%;
    border: solid #F987C5 2px; 
}

#menlo-logo{
    margin: auto; 
    display: block; 
    width: 5vw; 
    height: 10vh; 
    border-radius: 50%
}