/*******************************Style across all pages*******************************/
html {
    scroll-behavior: smooth;
}

/*Nav bar*/
nav img{
    width: 4vw;
    height: auto; 
}

nav {
    background-color: #F987C5; 
    z-index: 1;
}

.nav-link {
    color: black; 
}

.nav-link:hover{
    color: #343434;
}

.active{
    text-decoration: underline; 
}

/*Containers*/
.container-fluid{
    padding: 0px; 
}

/*Titles, text etc.*/
.title{
    display:block;
    text-align: center;
}

/*footer*/
footer{
    padding-top:1vh;
    margin-top: 10vh;
}
