/*******************************HERO PAGE*******************************/
h1{
    width: 30vw;
    padding-left:4px;
    margin-left: 10vw; 
    margin-top: 25vh; 
    background-color: #F987C5;
    color: white; 
}

.divider{
    border:none;
    background-color:#F987C5;
    height:5px;
    margin-left: 25vw;
    width: 50%;
}

.end-j{
    margin-bottom: 40vh;
}

hr ~ h2{
    text-align: center;
}

/*Jumbotron*/
.jumbotron{
    background-color: white;
}

.keep-circular{
    height: 50vh;
    width: 50vh;
}

.keep-circular img{
    max-width: 100%;
    max-height: 100%;
    border-radius: 50%;
}

/*carousel & columns*/
.carousel{
    margin-left:31vw;
    margin-top: 5vh;
    width:38vw;
}
.carousel-item img{
    object-fit: cover;
    object-position:center;
    height: 50vh;
    overflow:hidden;
}

/*Projects*/
.projects{
    width: 80vw;
    margin-left:10vw;
    margin-top:5vh;
}

/*Main hero grid*/
.hero-main{
    margin-left: 10vw; 
    margin-top: 20vh; 
    display: inline-grid; 
    grid-template-columns: 3fr 4fr; 
    column-gap: 5vw;
}

.hero-grid-comp img{
    width: 30vw; 
    height: auto;  
    border-radius: 50%;
}

.hero-grid-comp span{
    font-size: 30px;
}

.hero-grid-comp { 
    text-align: center;
    margin: auto; 
    margin-top: 15vh;
}

.hero-grid-comp ul{
    list-style-type: ""; 
}

.hero-grid-comp span > span{
    padding: 2px; 
    background-color:#F987C5; 
    color: white; 
}