/*******************************HERO PAGE*******************************/
h1{
    width: 30vw;
    padding-left:4px;
    margin-left: 10vw; 
    margin-top: 25vh; 
    background-color: #F987C5;
    color: white; 
}

.divider{
    border:none;
    background-color:#F987C5;
    height:5px;
    margin-top:40vh;
    margin-left:10vw;
    width: 50%;
}

hr ~ h2{
    margin-left:10vw;
}

/*Jumbotron*/
.jumbotron{
    background-color: white;
}

.keep-circular{
    height: 50vh;
    width: 50vh;
}

.keep-circular img{
    max-width: 100%;
    max-height: 100%;
    border-radius: 50%;
}

/*Main hero grid*/
.hero-main{
    margin-left: 10vw; 
    margin-top: 20vh; 
    display: inline-grid; 
    grid-template-columns: 3fr 4fr; 
    column-gap: 5vw;
}

.hero-grid-comp img{
    width: 30vw; 
    height: auto;  
    border-radius: 50%;
}

.hero-grid-comp span{
    font-size: 30px;
}

.hero-grid-comp { 
    text-align: center;
    margin: auto; 
    margin-top: 15vh;
}

.hero-grid-comp ul{
    list-style-type: ""; 
}

.hero-grid-comp span > span{
    padding: 2px; 
    background-color:#F987C5; 
    color: white; 
}

.carousel{
    margin-left: 10vw;
}

/*More about me section*/ 
.more-about-me{
    display: inline-grid; 
    grid-template-columns: repeat(3, 4fr); 
    grid-template-rows: repeat(2, 50%);
    width: 80vw;  
    height: 80vh; 
    margin: 10vw; 
    margin-top: 5vh;
}

.more-about-comp img{
    height: 30vh; 
    width: auto;  
}

.more-about-comp{
    display: block; 
    justify-content: center;
    margin: auto; 
    text-align: center;
}