html {
    scroll-behavior: smooth;
}

/*Nav bar*/
nav{
    background-color: #F987C5;
    width: 100vw; 
    height: 10vh;
    margin-top: -1vh; 
    margin-left: -1vh; 
    z-index: 1;
    position: fixed;
    vertical-align: center;
}

nav img{
    margin-top: 2vh; 
    margin-left: 3vw; 
    width: 4vw;
    height: auto; 
}

nav a{
    vertical-align: top; 
    display: inline-block; 
    color: white;
    text-decoration: none;
    margin-top: 4vh;
    font-size: 18px; 
    margin-right: 2vw; 
    margin-left: 2vw;  
}

#on-page{
    text-decoration: underline; 
}

/*******************************HERO PAGE*******************************/
h1{
    width: 20vw; 
    margin-left: 10vw; 
    margin-top: 25vh; 
    background-color: #F987C5;
    color: white; 
}

/*Main hero grid*/
.hero-main{
    margin-left: 10vw; 
    margin-top: 20vh; 
    display: inline-grid; 
    grid-template-columns: 3fr 4fr; 
    column-gap: 5vw;
}

.hero-grid-comp img{
    width: 30vw; 
    height: auto;  
    border-radius: 50%;
}

.hero-grid-comp span{
    font-size: 30px;
}

.hero-grid-comp { 
    text-align: center;
    margin: auto; 
}

.hero-grid-comp ul{
    list-style-type: ""; 
}

.hero-grid-comp span > span{
    padding: 2px; 
    background-color:#F987C5; 
    color: white; 
}

/*More about me section*/ 
.more-about-me{
    display: inline-grid; 
    grid-template-columns: repeat(3, 4fr); 
    grid-template-rows: repeat(2, 50%);
    width: 80vw;  
    height: 80vh; 
    margin: 10vw; 
    margin-top: 5vh;
}

.more-about-comp img{
    height: 30vh; 
    width: auto;  
}

.more-about-comp{
    display: block; 
    justify-content: center;
    margin: auto; 
    text-align: center;
}

/*******************************CONTACT PAGE*******************************/
/*images*/
#contact-img{
    display: block;
    max-width:15vw;
    max-height:30vh;
    width: auto;
    height: auto;
}

/*Grid stuff*/ 
.contact-grid-container{
    margin-top: 20vh; 
    display: inline-grid; 
    padding-top: 10vh; 
    padding-left: 10vw; 
    padding-right: 10vw; 
    width: 80vw; 
    grid-template-columns: repeat(4, 4fr);
    grid-template-rows: repeat(2, 25vh); 
}

.c-grid-item{
    margin: auto;
    font-size: 18px; 
}

.c-grid-item p{
    background-color: #F987C5;
    color: white;
    padding: 5px; 
}

/*******************************ABOUT PAGE*******************************/
/*first grid*/
.about-grid-container{
    display: inline-grid; 
    margin-top: 20vh;
    padding-right: 15vw; 
    padding-left: 15vw;  
    width: 70vw; 
    grid-template-columns: 2fr 3fr; 
    grid-template-rows: repeat(2, 14vh);
    column-gap: 5vw;
    row-gap: 20vh; 
}

.a-grid-item{
    margin: auto;
    font-size: 18px; 
}

/* Education grid */ 
.recent-education{
    margin-top: 40vh; 
    margin-right:20vw; 
    margin-left: 20vw; 
}

.ed-grid{
    display: inline-grid; 
    grid-template-columns: 1fr 5fr; 
    column-gap: 2vw;
}

.ed-grid p{
    margin-top: 3vh; 
}

.ed-grid img{
    height: 10vh; 
    width: 5vw; 
}

.recent-education a{
    display: block; 
    color:black;
    padding: 15px; 
    background-color: ghostwhite;
}

/* Experience section */
.show-on-scroll ~ p span{
    padding-right: 2px;
    padding-left: 2px; 
    padding-top: 2px;  
    background-color: #F987C5;
    color: white;  
}

p{
    font-size: 18px; 
}

ul{
    list-style-type: "⭐️  ";
}

.experience{
    margin-right: 20vw; 
    margin-left: 20vw; 
}

.experience p{
    border-top: dashed black 2px; 
    margin: 0; 
    padding: 30px; 
    counter-increment: section; 
    position: relative;
}

.experience p:nth-child(even):before {
    content: counter(section);
    position: absolute;
    right: 100%; 
    margin-right: -20px;
    /*circle*/
    border-radius: 50%;
    padding: 10px;
    height: 20px;
    width: 20px;
    /*counter #*/
    background-color: #F987C5;
    text-align:center;
    color: white;
}
  
.experience p:nth-child(odd):before {
    content: counter(section);
    left: 100%; 
    margin-left: -20px;
    position: absolute;
    /*circle*/
    border-radius: 50%;
    padding: 10px;
    height: 20px;
    width: 20px;
    /*counter #*/
    background-color: #F987C5;
    text-align:center;
    color: white;
}

.experience :nth-child(even) {
    border-left: 2px dashed;
    margin-right: 30px; 
    padding-right: 0;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

.experience p:nth-child(odd) {
    border-right: 2px dashed;
    margin-left: 30px; 
    padding-left: 0;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}

.experience p:first-child{
    border-top: 0;
    border-top-right-radius:0;
}

.experience p:last-child{
    border-bottom-right-radius:0;
    border-bottom-left-radius:0;
}

.experience p span{
    font-weight: bold;
}

.show-on-scroll{
    opacity: 0; 
    transition: opacity 400ms ease-in; 
}

.elem-fade-in{
    opacity: 1; 
}

/*Scrolling animation*/
.scroll-down {
    background-color: black;
    height: 50px;
    width: 30px;
    border: 2px solid black;
    position: absolute;
    left: 50%;
    bottom: 20px;
    border-radius: 50px;
    cursor: pointer;
  }
  .scroll-down::before,
  .scroll-down::after {
    content: "";
    position: absolute;
    top: 20%;
    left: 50%;
    height: 10px;
    width: 10px;
    transform: translate(-50%, -100%) rotate(45deg);
    border: 2px solid white;
    border-top: transparent;
    border-left: transparent;
    animation: scroll-down 1s ease-in-out infinite;
  }
  .scroll-down::before {
    top: 30%;
    animation-delay: 0.3s;
  }

  .scroll-down button{
    opacity: 0;
    height: 50px;
    border-radius: 50px;
    width: 30px;
  }
  
  @keyframes scroll-down {
    0% {
      /* top:20%; */
      opacity: 0;
    }
    30% {
      opacity: 1;
    }
    60% {
      opacity: 1;
    }
    100% {
      top: 90%;
      opacity: 0;
    }
  }

/*images*/
#a-img{
    margin: auto; 
    margin-top: 10vh;
    display: block;
    width:20vw;
    height:auto;
    border-radius: 50%;
    border: solid #F987C5 2px; 
}

#menlo-logo{
    margin: auto; 
    display: block; 
    width: 5vw; 
    height: 10vh; 
    border-radius: 50%
}